/* *{
  margin: 0;
  padding: 0;
} */

body{
  background-color: rgba(221, 160, 221, 0.445);
  color: rgb(37, 6, 37);
  font: normal 16px Arial, Helvetica, sans-serif; 
  line-height: 1.3em;
  margin: 0;
}
a{
  text-decoration: none;
  color: black
}
a:hover{
  color: red
}
a:active{
  color: green
}
.container{
width: 80%;
margin: auto;;
}

.clear{
  clear: both;
}
.box-1{
  background-color: rgb(90, 76, 76);
  color: white;

  
  border-top: red solid;
  border-right: red solid;
  border-bottom: red solid;
  border-left: red solid; 

  padding: 20px; 
  
  /* SAME AS ABOVE */
  
  border-width: 2px;
  border: 5px red solid;

  margin: 20px 0;
  
}
.box-1 h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800px;
  font-style: italic;
  text-decoration:  underline;
  letter-spacing: .2em;
}

.box-2{
  background-color:white;
  
  border: 3px dotted gray;
  padding: 20px;

  margin: 20px 0px;
  
}

.categories {
  border: 3px gray solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
}

.categories h2{
text-align: center;
}

.categories ul{
  padding: 0px;
  padding-left: 20px;
  list-style: none;
}

.categories li{
  padding: 6px;
  border-bottom: dotted 1px black;
  list-style-image: url('../images/check.svg');
}

.my-form{
  padding: 20px
}

.my-form .form-group{
  padding-bottom: 15px;
}
.my-form label{
  display: block
}

.my-form input[type = "text"], .my-form textarea{
  padding: 8px;
  width: 100%;
}

.button{
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  color: white
}
.block{
  float: left;
  width: 33.33%;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box
}